Results of "Cited By" Review

I've completed a review of the 75 RFCs that cite RFC 6125: https://www.arkko.com/tools/allstats/citations-rfc6125.html

Of these, I have slight concerns about only 3:

* RFC 8071 discusses a function that enables servers to call out to clients; in this case the very concept of a reference identifier doesn't apply, but I don't see the need to modify 6125bis to cover this use case.
* RFC 8314 discusses pinned certificates and points to RFC 6125 for further discussion about pinning; although we're removing this text from 6125bis, the pointer to RFC 6125 will remain valid.
* RFC 9174 defines a new certificate identifier "NODE-ID"; because this appears to be specific to delay-tolerant networking, I don't think we need to add it to 6125bis.

Comments welcome.

I'm closing this because we discussed it on list.