Section 3 cleanup

§3 states:

> A protocol can allow the use of an IP address in place of a DNS name.
   This might use the same field without distinguishing the type of
   identifier, see for example [URI].  In this case, applications need
   to be aware that the textual representation of an IPv4 address can
   appear to be a valid DNS name, though it is not.  The two types can
   be distinguished by first testing if the identifier is a valid IPv4
   address.  Note also that by policy, Top-Level Domains ([DNS-TERMS])
   do not start with a digit (TODO: citation needed).

It's not clear to me what @martinthomson had in mind with "the textual representation of an IPv4 address can appear to be a valid DNS name" - perhaps an example would help?

Also, we need a citation for "by policy, Top-Level Domains do not start with a digit". Perhaps https://www.rfc-editor.org/rfc/rfc3696#section-2 would fit the bill?

"192.0.2.10" is technically a valid LDH domain name.  So is "192.0x20a" (the same address).  That there are no valid DNS names with a TLD containing all digits does not appear to be codified anywhere.  I remember something in an ICANN document I read once, but navigating their documents requires dark arts I'm not versed in.

That RFC 3696 thing is a bit weak, but it might do in a pinch.  The problems being:

1. There is is just a single parenthetical "(including verification that the apparent TLD name is not all-numeric)" along these lines.
2. It is extremely wordy.
3. It is old and crufty.  I mean, you have to get past a short list of non-CC TLDs that were valid in 2003, which in 2022 drains the text of all authority.
4. It is not complete.  Hex strings are not digits (at least as envisaged in that document).

I would advocate for a direct quote if you use that, with some explanation along these lines.

What I was thinking when I wrote that text was that I wanted to avoid burdening the reader with all the gory details, and myself with the need to write a whole bunch of text and then organize it in some fashion that didn't ruin the flow of the document.

Another possibility is to cite RFC 3986:

> The syntax rule for host is ambiguous because it does not completely
   distinguish between an IPv4address and a reg-name.  In order to
   disambiguate the syntax, we apply the "first-match-wins" algorithm:
   If host matches the rule for IPv4address, then it should be
   considered an IPv4 address literal and not a reg-name.


Moreover, §2.3.1 of RFC 1035 does state:

> The labels must follow the rules for ARPANET host names.  They must
start with a letter, end with a letter or digit, and have as interior
characters only letters, digits, and hyphen.  There are also some
restrictions on the length.  Labels must be 63 characters or less.

@martinthomson When you get a chance, I'm curious to hear your thoughts on the proposed text in the pull request.