third-party domain mapping

I'm not really sure what this means (in Section 6.1.1):

> or obtaining the data from a third-
>  party domain mapping service in which a human user has explicitly
>  placed trust and with which the client communicates over a connection
>  or association that provides both mutual authentication and integrity
>  checking

Therefore I wonder if we ought to delete it.

It was intended to capture this from 6125:
```
The client may map the reference identity to a different type prior
   to performing a comparison.  Mappings may be performed for all
   available subjectAltName types to which the reference identity can be
   mapped; however, the reference identity should only be mapped to
   types for which the mapping is either inherently secure (e.g.,
   extracting the DNS name from a URI to compare with a subjectAltName
   of type dNSName) or for which the mapping is performed in a secure
   manner (e.g., using [DNSSEC], or using user- or admin-configured
   host-to-address/address-to-host lookup tables).
```

I *think* :)  Perhaps I made it too terse?



Well, we had the same text in Section 6.2.1 of RFC 6125. I just don't recall what we meant by a third-party domain mapping service that's not DNS. @equalsJeffH do you remember?

>we had the same text in Section 6.2.1 of RFC 6125.

the latter is the same "Rules" section as Section 6.1.1 of RFC6125, so the text @stpeter is quoting is simply carried over from the former to the latter.

Thus I doubt it has anything to do with the text @richsalz quotes. Besides, that latter text is from RFC6125 appendix B "LDAP" and is a quoted section from [LDAP-AUTH].

Regarding what the "obtaining the data from a third-party domain mapping service" text @stpeter quotes might mean, the only thing I can think of that we might have been thinking of and hand-waving about at the time is some sort of a DANE-based resolution service perhaps run by the Registries/Registrars.  Or perhaps we were thinking of some sort(s) of enterprise-based domain mapping service(s).  The text does not disallow whatever-it/they-might-be from being based on DNS.  Or perhaps we were simply covering our bases, ie future-proofing, such that if something like that existed for some reader(s), then we addressed it.  (now I'm hand-waving ;-)

HTH, =JeffH

we were simply covering our bases in terms of some sort of 

But in any case, if there 

Perhaps it was intended to cover DANE or some kind of enterprise mapping service. In either case, it appears that such services have not come into being since RFC 6125 was published, so I'm in favor of removing the text. It's more likely to cause confusion than enlightenment.