Add IP-ID from RFC 9110

Comment from @martinthomson ...

> RFC 9110 Section 4.3.5 (https://httpwg.org/specs/rfc9110.html#https.ip-id) contains a new type of reference identity.  This reference identity type is widely supported, but RFC 6125 didn't cover it.
>
> Is there any chance that the text in RFC 9110 that I reference could be included in this revision.  It would do a lot of good for this document to be the definitive reference here and missing IP-ID is a bit of a hole.