Yaron: no definition of FQDN


        Yaron:
        > * No definition is given for "FQDN" even though the name being an FQDN 
        > is a major component of the document's scope. Specifically, are 
        > enterprise hostnames (that are not on the public DNS) in scope? Are 
        > .local names?

     Peter:
      Section 2.2 of RFC 6125 referenced RFC 1034 in this regard. IIRC from 
      when Jeff and I worked on RFC 6125, it is surprisingly difficult to find 
      a canonical definition for FQDN and similar terms.

    Yaron:
      Yep, we can punt the definition but then we need to address all the special
     cases. For example, you didn't answer my questions re: non-public DNS names and ".local"...
